
.gradient-bg {
  position: relative;
  height: 100%;
}

#bg-wrap {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; /* Make sure the background is behind other content */
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-card {
  width: 90%;
  max-width: 400px; /* Limit max width of card */
  margin: 20px; /* Add margin around card */
  backdrop-filter: blur(10px); /* Optional: Blurs the background behind the card */
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
